{% extends "uplyft/base.html" %}
{% load static %}
{% block content %}
<!-- Header -->

<body class="index-body">
    <div class="background-pattern">
        <div class="container d-flex h-100 align-items-center background-silhouette">
            <div class="mx-auto text-center">
                <h1 name="title" class="intro-heading display-3 font-weight-bold mb-0 text-uppercase turquoise-dark">
                    Uplyft</h1>
                <h3 name="welcome_message" class="mx-auto mt-2 mb-4 font-weight-bold font-italic"><span style="background-color: rgba(255, 255, 255, 0.7);">Candidates find jobs. <br>Employers find candidates.</span> </h3>
                <a name="reveal" href="#learnmore" class="btn btn-primary js-scroll-trigger">Learn
                    more</a>
            </div>
        </div>
    </div>

    <div id="learnmore" class="container js-scroll-trigger" style="padding-top: 2em;">
        <div class="feature-flex">
            <div class="feature-illustration">
                <img src="{% static 'uplyft/images/candidate.gif' %}" style="width: 100%; filter: hue-rotate(-90deg);">
            </div>

            <div class="feature-main-text padding-left-2">
                <h3 class="turquoise-dark"><b>Candidates</b></h3>
                <h4>Sit back, relax and apply to your dream job.</h4>
                <br>
                <div>
                    <ul>
                        <li>Search for public sector jobs in NYC</li>
                        <li>Looking for something specific? Try our advanced search</li>
                        <li>Apply to any job that you’re interested in</li>
                        <li>Update your profile to speed up applications</li>
                        <li>Go to the dashboard to view summary of your applications</li>
                        <li>Add jobs to favorites, and view them in your dashboard</li>
                        <li>Withdraw your application if needed</li>
                    </ul>
                    <div>
                        <a name="candidate_login_link" href="{% url 'register:candidate_register' %}" class="btn btn-primary"><b>Get started ></b></a>
                    </div>
                </div>
                <div class="feature-highlights">
                    <div class="feature-highlight-item feature-highlight-item-grow">
                        <div class="gigantic accent-color-1">1400+</div>
                        <div class="large-text">Jobs and growing</div>
                    </div>
                    <div class="feature-highlight-item feature-highlight-item-grow">
                        <div class="gigantic accent-color-1">55+</div>
                        <div class="large-text">City Departments</div>
                    </div>
                </div>
            </div>

            <div class="feature-highlights feature-highlights-space-between">
                <div class="feature-highlight-item">
                    <div class="gigantic accent-color-1">Apply</div>
                    <div class="large-text">any job on Uplyft</div>
                </div>
                <div class="feature-highlight-item">
                    <div class="gigantic accent-color-1">Dashboard</div>
                    <div class="large-text">all-in-one quick glance</div>
                </div>
                <div class="feature-highlight-item">
                    <div class="gigantic accent-color-1">Favorite Jobs</div>
                    <div class="large-text">save for later</div>
                </div>
            </div>
        </div>

        <div class="feature-flex">
            <div class="feature-main-text padding-right-2">
                <h3 class="turquoise-dark"><b>Employers</b></h3>
                <h4>Recruit the best talent for your Department.</h4>
                <br>
                <div>
                    <ul>
                        <li>View the summary of applications on the Dashboard</li>
                        <li>View the detailed application submitted to your department</li>
                        <li>Review and respond to received applications</li>
                        <li>Update department profile for up-to-date descriptions of your department</li>
                        <li>Want to check out your competition? Search for jobs from all departments</li>
                    </ul>
                </div>
                <div>
                    <a name="employer_login_link" href="{% url 'register:employer_register' %}" class="btn btn-primary"><b>Get started ></b></a>
                </div>
                <div class="feature-highlights">
                    <div class="feature-highlight-item feature-highlight-item-grow">
                        <div class="gigantic accent-color-2">Review</div>
                        <div class="large-text">applications</div>
                    </div>
                    <div class="feature-highlight-item feature-highlight-item-grow">
                        <div class="gigantic accent-color-2">Dashboard</div>
                        <div class="large-text">quick glance</div>
                    </div>
                </div>
            </div>

            <div class="feature-illustration">
                <img src="{% static 'uplyft/images/employer.gif' %}" style="width: 100%; filter: hue-rotate(-10deg);">
            </div>
        </div>
    </div>
</body>
{% endblock %}