{% extends "uplyft/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

{{ form.errors }}
{{ form.non_field_errors }}


<div class="container">
    <div class="col-md-12 mb-3 mb-md-0">
        <div class="card py-4 h-100">
            <div class="card-body text-center">
                <h4 class="text-uppercase m-0"> {{ job.business_title }} </h4>
                <h6 class="text-uppercase m-0"> {{ job.department }} </h6>
                <hr class="my-4">
            </div>

            <ul class="list-group list-group-flush border-0">

                <li class="list-group-item border-0"><b>First Name:</b> {{ application.candidate_profile.first_name }}</li>
                <li class="list-group-item border-0"><b>Last Name:</b> {{ application.candidate_profile.last_name }} </li>
                <li class="list-group-item border-0"><b>Email:</b> {{ application.candidate_profile.email }} </li>
                <li class="list-group-item border-0"><b>Phone:</b> {{ application.candidate_profile.phone }} </li>
                <li class="list-group-item border-0"><b>Gender:</b> {{ application.candidate_profile.get_gender_display }} </li>
                <li class="list-group-item border-0"><b>Ethnicity:</b> {{ application.candidate_profile.get_ethnicity_display }} </li>
                <li class="list-group-item border-0"><b>Race:</b> {{ application.candidate_profile.get_race_display }} </li>
                <li class="list-group-item border-0"><b>Health Conditions:</b> {{ application.candidate_profile.get_health_conditions_display }} </li>
                <li class="list-group-item border-0"><b>Veteran Status:</b> {{ application.candidate_profile.get_veteran_display }} </li>
                <li class="list-group-item border-0"><b>Address:</b> {{ application.candidate_profile.address_line }}, {{ application.candidate_profile.state }} </li>
                <hr class="dropdown-divider">
                <li class="list-group-item border-0"><b>Portfolio Website:</b> {{ application.candidate_profile.portfolio_website }} </li>
                <li class="list-group-item border-0"><b>Cover Letter:</b> {{ application.candidate_profile.cover_letter }} </li>
                <li class="list-group-item border-0"><b>Work Experience:</b> {{ application.candidate_profile.experiences }} </li>
                <li class="list-group-item border-0"><b>Education:</b> {{ application.candidate_profile.education }} </li>
                <hr class="dropdown-divider">

                {% if employer_viewing %}

                {% if application.status == application.STATUS_APPLIED %}
                <form class="application_detail_form" action="{% url 'applications:application_details' application.id %}" method="post">
                    {% csrf_token %}
                    <!--token to protect against Cross Site Request Forgeries (https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#std:templatetag-csrf_token)-->
                    <input type="hidden" name="application_id" value="{{ application.id }}"/>

                    <button type="submit" name="accept_button" class="btn btn-primary">
                    Accept
                    </button>
                    <button type="submit" name="reject_button" class="btn btn-primary">
                    Reject
                    </button>

                </form>
                {% else %}
                <li class="list-group-item border-0"><b>Application Status:</b> {{ application.get_status_display }} </li>
                {% endif %}

                {% endif %}

            </ul>
        </div>
    </div>




</div>
{% endblock %}