{% extends "uplyft/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="card py-4 col-md-6 col-lg-6 mx-auto">

    <h1 class="">Candidates - Login to Uplyft</h1>
    <div>
        First time on Uplyft? <a name="candidate_register_link" href="{% url 'register:candidate_register' %}"><b>Join now</b></a> Or <a href="{% provider_login_url 'google' %}">Login with Google </a>
    </div>
    <br>
    <form name="candidate_login_form" class="reg_form" action="{% url 'candidate_login:candidate_login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="single-line-link">
            <a href="{% url 'password_reset:password_reset' %}">Forgot password?</a>
        </div>
        <div>
            <input type="submit" name="submit" value="Login"/>
        </div>
    </form>
    <div>
        
    </div>
</div>

{% endblock %}
