{% extends "uplyft/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static "candidate_login/css/candidate_login.css" %}">


<div class="card py-4 col-md-6 col-lg-6 mx-auto card-30em">

    <h1 class="">Candidate Login</h1>
    <form name="candidate_login_form" class="reg_form" action="{% url 'candidate_login:candidate_login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="single-line-link">
            <a href="{% url 'password_reset:password_reset' %}">Forgot password?</a>
        </div>
        <div>
            <input type="submit" name="submit" value="Login"/>
        </div>
    </form>
    <br>
        <a href="{% provider_login_url 'google' %}"><img src="{% static 'candidate_login/images/btn_google_signin_dark_normal_web.png' %}"> </a>
    <div id="id_register_link">
        First time on Uplyft? <a name="candidate_register_link" href="{% url 'register:candidate_register' %}"><b>Register</b></a>
        <br><br>
        Employer? <a name="candidate_login_link" href="{% url 'employer_login:employer_login' %}"><b>Login here</b></a>
    </div>
</div>

{% endblock %}
