{% extends "uplyft/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

 <link rel="stylesheet" type="text/css" href="{% static "apply/css/apply.css" %}">

    <div class="container" style="width:50%">
        {% if messages %}
            {% for message in messages %}
            <div class="container card py-md-3 alert alert-primary"
                 role="alert" style="text-align: center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

   {% if application.errors %}
    <div class="container" style="width: 50%">
        <ul style="list-style-type: none; padding:0">
        {% for field in application %}
          {% if field.errors %}
            {% for error in field.errors %}
            <div class="container card py-md-3 alert alert-primary" role="alert" style="text-align: center">
                <li><b>{{ field.name|title }}: </b> {{ error|escape }}</li>
            </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
        </ul>
        {% if application.non_field_errors %}
            {{ application.non_field_errors }}
        {% endif %}
    </div>
    {% endif %}

<div class="col-md-6 col-lg-7 mx-auto">

    <div class="container card py-4  card-50em">
        <h1 class="mb-5"> Apply </h1>
            <h5 class="card-title">{{ job.business_title }}</h5>
            <p class="card-text text-muted h6"> # {{job.id }} | <a href="{% url 'department_details:department_detail' job.department.id %}">{{ job.department.name }}</a> </p>
            <hr class="h-bar">
            <p class="card-text"><small>{{job.job_description|truncatechars:500 }} <a href="{% url 'jobs:job_detail' job.id %}">View job></a></small></p>
        <br>

        <form class="reg_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ application|crispy }}
              <button type="submit" class="btn btn-primary"> Submit Application</button>
        </form>
    </div>
</div>

{% endblock %}