{% extends "uplyft/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
body{
    background-attachment: fixed !important;
}
</style>

<div class="col-md-6 col-lg-8 mx-auto">
    <div class="apply">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="text-white mb-5">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="container card py-4">
        <h1 class="mb-5"> Apply </h1>
            <h5 class="card-title">{{ job.business_title }}</h5>
            <p class="card-text text-muted h6"> # {{job.id }} | <a href="{% url 'department_details:department_detail' job.department.id %}">{{ job.department.name }}</a> </p>
            <hr class="h-bar">
            <p class="card-text"><small>{{job.job_description|truncatechars:500 }}</small></p>
        <br>

        <form class="reg_form" method="post">
          {% csrf_token %}
            {{ application|crispy }}
              <button type="submit" class="btn btn-primary"> Submit Application</button>
        </form>
    </div>
</div>

{% endblock %}