{% extends "uplyft/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-5 mx-auto">
<div class="container card py-4">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h2 class="card-title" style="text-align: center">Reset Password</h2>
            {{ form| crispy }}
        </fieldset>
        <div class="mx-auto text-center">
        <div class="form-group">
            <button class="btn btn-primary js-scroll-trigger" type="submit">Reset Password</button>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock content %}