{% extends "uplyft/base.html" %}
{% block content %}
<div class="col-md-6 col-lg-6 mx-auto">
    <div class="alert alert-info" style="text-align: center">
        Your password has been reset. You can login now.
    </div>
         <div class="mx-auto text-center">
<a name="candidate_login_link" href="{% url 'candidate_login:candidate_login' %}"
                   class="btn btn-primary js-scroll-trigger">Candidates</a>
<a name="employer_login_link" href="{% url 'employer_login:employer_login' %}"
                   class="btn btn-primary js-scroll-trigger">Employers</a>
    </div>
</div>
{% endblock content %}