{% extends "uplyft/index.html" %}
{% load static %}
{% block dashboard_content %}
    <link rel="stylesheet" type="text/css"
          href="{% static "dashboard/css/dashboard.css" %}">
    {% if messages %}
            {% for message in messages %}
            <div class="text-white mb-5">{{ message }}</div>
            {% endfor %}
    {% endif %}
    {% block employer_dashboard %}
    {% endblock %}
    {% block candidate_dashboard %}
    {% endblock %}
    {% block applications_list %}
    {% endblock %}


{% endblock %}