{% extends "dashboard/dashboard.html" %}
{% load static %}
{% block employer_dashboard %}
    <h1 class="mb-4">Welcome back, {{ employer_name.title }}.</h1>
<div>
        <div class="container dashboard-container">
            <h2 class="text-black mb-1 font-weight-bold" style="text-align: center">
                Applications</h2>
            <div class="row">
                <div class="col-sm-0 col-md-1 col-lg-2">
                </div>
                <div class="col-sm-3 col-md-5 col-lg-4">
                    <a class="white"
                       href="{% url 'dashboard:dashboard' 'ap' %}">
                        <div class="card-dashboard primary">
                            <span class="dashboard-numbers">{{ pending_count }}&rarr;</span>
                            <span class="dashboard-name">Pending Applications</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 col-md-5 col-lg-4">
                    <a class="white"
                       href="{% url 'dashboard:dashboard' 'ac' %}">
                        <div class="card-dashboard success">
                            <span class="dashboard-numbers">{{ accepted_count }}&rarr;</span>
                            <span class="dashboard-name">Accepted Applications</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-0 col-md-1 col-lg-2">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-2">
                </div>
                <div class="col-sm-3 col-md-5 col-lg-4">
                    <a class="white"
                       href="{% url 'dashboard:dashboard' 're' %}">
                        <div class="card-dashboard danger">
                            <span class="dashboard-numbers">{{ rejected_count }}&rarr;</span>
                            <span class="dashboard-name">Rejected Applications</span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 col-md-5 col-lg-4">
                    <a class="white"
                       href="{% url 'dashboard:dashboard' 'w' %}">
                        <div class="card-dashboard warning">
                            <span class="dashboard-numbers">{{ withdrawn_count }}&rarr;</span>
                            <span class="dashboard-name">Withdrawn Applications</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}