{% extends "dashboard/dashboard.html" %}
{% load static %}
{% block employer_dashboard %}
    <h1 class="mb-4">Welcome back, {{ employer_name.title }}.</h1>
    <div name="employer_dashboard">
    <div class="container dashboard-container">
        <h2 class="text-white mb-4">Action items</h2>
        <div class="row">
            <div class="col-md-3 col-lg-4">
                <div class="card-dashboard hidden">
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <a class="white" href="{% url 'dashboard:dashboard' 'ap' %}">
                    <div class="card-dashboard primary">
                        <span class="dashboard-numbers">{{ pending_count }}&rarr;</span>
                        <span class="dashboard-name">Pending Applications</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-lg-4">
                <div class="card-dashboard hidden">
                </div>
            </div>
        </div>
    </div>

    <div class="container dashboard-container">
        <h2 class="text-white mb-4">Others</h2>
        <div class="row">
            <div class="col-md-1 col-lg-2">
                <div class="card-dashboard hidden">
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <a class="white" href="{% url 'dashboard:dashboard' 'ac' %}">
                    <div class="card-dashboard success">
                        <span class="dashboard-numbers">{{ accepted_count }}&rarr;</span>
                        <span class="dashboard-name">Accepted Applications</span>
                    </div>
                </a>
            </div>
            <div class="col-md-5 col-lg-4">
                <a class="white" href="{% url 'dashboard:dashboard' 're' %}">
                    <div class="card-dashboard danger">
                        <span class="dashboard-numbers">{{ rejected_count }}&rarr;</span>
                        <span class="dashboard-name">Rejected Applications</span>
                    </div>
                </a>
            </div>
            <div class="col-md-1 col-lg-2">
                <div class="card-dashboard hidden">
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}