{% extends "uplyft/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <title> My Profile </title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="{% static "apply/css/apply.css" %}">

{% if messages %}
    {% for message in messages %}
            <div class="container card py-4 alert alert-primary" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="container card py-4">
    <h1 class=""> My Profile </h1>
    <hr class="my-4">
        <form class="reg_form" method="post">
          {% csrf_token %}
            {{ profile_form|crispy }}
              <button name="submit" type="submit" class="btn btn-primary">Save Changes</button>
        </form>
</div>

</body>
</html>

{% endblock %}
