{% extends "uplyft/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<style>
body{
    background-attachment: fixed !important;
}

</style>

<link rel="stylesheet" type="text/css" href="{% static "candidate_profile/css/candidate_profile.css" %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My Profile </title>
</head>
<body>
<div class="container" style="width: 50%">
{% if messages %}
    {% for message in messages %}
            <div class="container card py-md-3 alert alert-primary" role="alert" style="text-align: center">{{ message }}</div>
    {% endfor %}
{% endif %}
</div>

{% if profile_form.errors %}
<div class="container" style="width: 50%">
    <ul style="list-style-type: none; padding:0">
    {% for field in profile_form %}
      {% if field.errors %}
        {% for error in field.errors %}
        <div class="container card py-md-3 alert alert-primary" role="alert" style="text-align: center">
            <li><b>{{ field.name|title }}: </b> {{ error|escape }}</li>
        </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
    {% if profile_form.non_field_errors %}
        {{ profile_form.non_field_errors }}
    {% endif %}
</div>
{% endif %}

<div class="container card py-md-3 card-50em">
    <h1 class=""> My Profile </h1>
    <hr class="my-4">
        <form class="reg_form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ profile_form|crispy }}
              <button name="submit" type="submit" class="btn btn-primary">Save Changes</button>
                <script type="text/javascript">
                    function checkUpload(size)
                    {
                        if(size>2)
                        {
                         var n = size.toFixed(2);
                            alert('Your file size is: ' + n + "MiB, and it is too large to upload! Please try to upload smaller file (2MiB or less).");
                            <!--If the resume submission is too large, make the value NULL-->
                            $('#id_resume').val('');
                        }
                        else
                        {
                            //alert('File size is OK');
                        }
                    }
                    $('#id_resume').change(function() {
                    var fileSize = this.files[0].size/1024/1024;
                        checkUpload(fileSize);

                    });
                </script>
        </form>
</div>

</body>
</html>

{% endblock %}
