/* Styles for Job Detail page */

.btn-primary:disabled {
    background-color: gray;
}

.job-description-flex {
    display: flex;
}

.job-summary-left {
    width: 70%;
}

.job-primary-action-block-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.job-primary-action-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.job-description-main-content {
    width: 70%;
}

.job-description-misc-attributes {
    width: 30%;
}

.job-primary-action {
    margin-left: 16px;
}

.job-description-misc-attribute-name {
    color: gray;
}

.title-div {
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
}

.input-star {
    padding: 0px !important;
    background: transparent;
    border: none;
    font-size: 2em;
    line-height: 1.2em;
}

.input-star-selected {
    padding: 0px !important;
    background: transparent;
    border: none;
    font-size: 1.25em;
}
