{% extends "uplyft/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}



<div class="container">
    <link rel="stylesheet" type="text/css" href="{% static "department_details/css/department_detail.css" %}">

    <div class="col-md-12 mb-3 mb-md-0">
        <div class="card py-4 h-100">
            <div class="card-body">
                <h5 class="card-title"> <b> {{ department.name }} </b> </h5>
                {% if jobs %}
                 <table>
                    <th>
                        <td>
                            Job ID
                        </td>
                        <td>
                            Job Title
                        </td>
                        <td>
                            Posting Date
                        </td>
                        <td>
                            Applications submitted
                        </td>
                    </th>
                    {% for job in jobs %}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{% url 'jobs:job_detail' job.id %}">{{ job.id }}</a>
                        </td>
                        <td>
                            {{ job.business_title }}
                        </td>
                        <td>
                            {{ job.posting_date|date:"m/d/y" }}

                        </td>
                        <td>
                            {{ submitted_applications_data|get_item:job.id }}
                        </td>
                    </tr>
                {% endfor %}
                 </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
