{% extends "uplyft/base.html" %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}

    <div class="col-md-6 col-lg-6 mx-auto">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-white mb-5">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1 class="text-white mb-5">Login </h1>
        <form class="reg_form" action="{% url 'employer_login:employer_login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!--token to protect against Cross Site Request Forgeries (https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#std:templatetag-csrf_token)-->
            <table>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Login"/></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}
