.card-dashboard {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
}

.card-dashboard:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-dashboard.primary {
    background-color: #2D3B5E;
    color: #FFF;
}

.card-dashboard.danger {
    background-color: #8C3D3B;
    color: #FFF;
}

.card-dashboard.success {
    background-color: #296245;
    color: #FFF;
}

.card-dashboard.info {
    background-color: #8C8C3B;
    color: #FFF;
}

.card-dashboard.hidden {
    box-shadow: 2px 2px 10px transparent;
    background-color: transparent;

}

.card-dashboard .dashboard-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-dashboard .dashboard-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.dashboard-container {
    background: linear-gradient(
            rgba(100, 100, 100, 0.6),
            rgba(100, 100, 100, 0.6)
    );
    padding: 20px;
    width: 1000em;
}

.application-border{
    border-width: 3px;
    margin: 1em;
}

.application-border.RE{
    border-color:#8C3D3B;
}

.application-border.AC{
    border-color:#296245;
}
.application-border.PE{
    border-color:#2D3B5E;
}
.application-border.AP{
    border-color:#2D3B5E;
}
