{% extends "uplyft/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load my_templatetags %}
{% load humanize %}

{% block content %}

<!--
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
-->

<style>
body{
    background-attachment: fixed !important;
}
</style>

<div class="col-md-10 mx-auto mb-5">
  <form method="get">
    <div class="card">
      <div class="card-header"><b>Search for Jobs</b> </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.business_title.label_tag }}
            {% render_field filter.form.business_title class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.work_location.label_tag }}
            {% render_field filter.form.work_location class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.agency.label_tag }}
            {% render_field filter.form.agency class="form-control" %}
          </div>
        </div>


        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.posting_date.label_tag }}
          {% render_field filter.form.posting_date class="form-control" %}
          </div>
        </div>


        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
  </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9 mt-3 center mx-auto">
            {% for job in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ job.business_title }}</h5>
                    <span> <small> {{ job.posting_date}} </small> </span>
                    <p class="card-text text-muted h6">{{ job.agency }}
                    {% if job.salary_frequency == "Annual" %}
                        <span class="salary_info"> ${{ job.salary_start|floatformat:"0"|intcomma }} - {{ job.salary_end|floatformat:"0"|intcomma }} Annually</span>
                    {% else %}
                        <span class="salary_info"> ${{ job.salary_start|floatformat:2 }} - {{ job.salary_end|floatformat:2 }} {{ job.salary_frequency }}</span>
                    {% endif %}
                    </p>
                    <hr class="h-bar">
                    <p class="card-text"><small>{{job.job_description|truncatechars:325 }}</small></p>
                    <p class="card-text"> <i class="fas fa-map-marked-alt text-primary mb-2"></i> {{job.work_location}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


<div id="wrapper" style="text-align:center">
 <div id="container" style="display:inline-block;text-align:left">
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-primary" href="?{% query_transform request page=1 %}"> First </a>
        <a class="btn btn-primary" href="?{% query_transform request page=page_obj.previous_page_number %}"> Previous </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-light" href="?{% query_transform request page=num %}"> {{ num }} </a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-primary" href="?{% query_transform request page=num %}"> {{ num }} </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-primary" href="?{% query_transform request page=page_obj.next_page_number %}"> Next </a>
        <a class="btn btn-primary" href="?{% query_transform request page=page_obj.paginator.num_pages %}"> Last </a>
    {% endif %}
{% endif %}
 </div>
</div>

<!--

<div class="col-md-10 mx-auto">
  <table id="example" class="table table-bordered table-hover"  style="background-color: #fff;">
      <thead>
        <tr>
          <th scope="col"> Job Title </th>
          <th scope="col"> Location </th>
          <th scope="col"> Agency </th>
          <th scope="col"> Posted </th>
        </tr>
      </thead>
      <tbody>
        {% for job in filter.qs %}
          <tr>
            <td>{{ job.business_title }}</td>
            <td>{{ job.work_location }}</td>
            <td>{{ job.agency }}</td>
            <td>{{ job.posting_date }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
-->

{% block javascript %}
<script type="text/javascript" src="{% static 'jobs/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jobs/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jobs/js/sort-table.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'jobs/js/sortable.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'jobs/js/sort_table.js' %}"></script>-->
{% endblock %}

{% endblock %}