{% extends "uplyft/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}


<div class="container">

    <link rel="stylesheet" type="text/css" href="{% static "jobs/css/job_detail.css" %}">

    <div class="col-md-12 mb-3 mb-md-0">
        <div class="card py-4 h-100" style="padding-top: 0px !important;">
            <div class="card-body">

                <div style="width: 100%; height: 3em" >
                    <div class="title-div">
                        <h5 style="display: inline;"> <b> {{ job.business_title }} </b> </h5>
                    {% if user.is_candidate %}
                        <form style="display: inline;" action="{% url 'jobs:save_job' job.id %}" method="post">
                                                {% csrf_token %}
                            <input type="hidden" name="jobs_pk_id" value="{{ job.id }}" />
                            {% if saved_this_job == False %}
                                <input alt="star" title="Save job" class="input-star" type="image" src="{% static "jobs/css/img/star.png" %}" name="save"/>
                            {% else %}
                                <input alt="filled-star" title="Remove from saved" class="input-star" type="image" src="{% static "jobs/css/img/star-fill.png" %}" name="unsave"/>
                            {% endif %}
                        </form>
                    {% endif %}
                    </div>
                    <div>

                    </div>
                </div>

                <div class="job-description-flex" style="width: 100%">
                    <div class="job-summary-left">
                        <div class="text-black-50"> {{ job.division }} •  <a href="{% url 'department_details:department_detail' job.department.id %}">{{ job.department.name }}</a></div>
                        {% if job.work_location %}
                        <div class="text-black-50"> {{ job.work_location }} </div>
                        {% endif %}
                        {% if job.posting_date %}
                        <div class="text-black-50"> Posted on {{ job.posting_date }} </div>
                        {% endif %}
                    </div>

                    <div class="job-primary-action-block-wrapper">
                        {% if has_open_application %}
                            <div>
                                <a class="small" href="{% url 'applications:application_details' application_id %}">View application</a>
                            </div>
                        {% endif %}

                        <div class="job-primary-action-block">

                            {% if user.is_candidate %}
                            <form class="job-primary-action" action="{% url 'apply:apply' job.id%}" method="get">
                                {% if has_open_application %}
                                <input disabled class="btn btn-primary" type="submit" name="apply" value="Applied" />
                                {% else %}
                                <input class="btn btn-primary" type="submit" name="apply" value="Apply" />
                                {% endif %}
                            </form>
                            {% endif %}

                        </div>
                    </div>
                </div>

                {% if user.is_candidate %}
                    {% if other_applicants == 0 %} <!-- No one else has applied apps for this job -->
                        {% if has_open_application %} <!-- You have applied for the job -->
                            <div class="text-black-50"><i> You are the only applicant so far </i> </div>
                        {% else %}
                           <a href="{% url 'apply:apply' job.id%}">
                                <div><i>Be the first to apply!</i></div>
                            </a>
                        {% endif %}
                    {% elif other_applicants == 1 %} <!-- Only 1 application exists -->
                        <div class="text-black-50"><i>{{ other_applicants }} other person has applied </i> </div>
                    {% else %} <!-- Multiple applications exist -->
                        <div class="text-black-50"><i>{{ other_applicants }} other people have applied </i> </div>
                    {% endif %}
                {% endif %}
            </div>



            <hr class="my-4">

            <div class="job-description-flex">
                <div class="job-description-main-content">
                    <ul class="list-group list-group-flush border-0">

                        <li class="list-group-item border-0"> <b>Description</b> </li>
                        {% if job.description == "nan" %}
                        <li class="list-group-item border-0"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{ job.job_description }} </li>
                        {% endif %}

                        <li class="list-group-item border-0"> <b>Minimum Qualifications</b> </li>
                        {% if job.min_qualifications == "nan" %}
                        <li class="list-group-item border-0"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{ job.min_qualifications }} </li>
                        {% endif %}


                        <li class="list-group-item border-0"> <b>Preferred Skills</b> </li>
                        {% if job.preferred_skills == "nan" %}
                        <li class="list-group-item border-0 text-black-50"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{ job.preferred_skills }} </li>
                        {% endif %}

                        <li class="list-group-item border-0"> <b>Residency Requirement</b> </li>
                        {% if job.residency_requirement == "nan" %}
                        <li class="list-group-item border-0"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{ job.residency_requirement }} </li>
                        {% endif %}

                        <li class="list-group-item border-0"> <b>Work location</b> </li>
                        {% if job.work_location == "nan" %}
                        <li class="list-group-item border-0"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{job.work_location}}
                            {% if job.secondary_work_location != "nan" %}
                            <br>
                            <b>Secondary location:</b> {{ job.secondary_work_location }}
                        {% endif %}
                        </li>
                        {% endif %}

                        <li class="list-group-item border-0"><b>Additional Information</b> </li>
                        {% if job.additional_info == "nan" %}
                        <li class="list-group-item border-0 text-black-50"> Not specified. </li>
                        {% else %}
                        <li class="list-group-item border-0"> {{ job.additional_info }} </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="job-description-misc-attributes">
                    <ul class="list-group list-group-flush border-0">

                        {% if job.recruitment_contact != "nan" %}
                        <li class="list-group-item border-0"> <b>Contact</b> <br> 
                            {{ job.recruitment_contact }} </li>
                        {% endif %}

                        <li class="list-group-item border-0"> <b>Seniority Level or <br> Experience Level</b> <br> 
                            {{ job.level }} </li>

                        <li class="list-group-item border-0"> <b>Civil Service Title</b> <br> 
                            {{ job.civil_service_title }} </li>

                        <li class="list-group-item border-0"> <b>Industry or <br> Job Functions</b> <br> 
                            {{ job.job_category }} </li>

                        <li class="list-group-item border-0"> <b>Salary</b> <br> 
                            ${{ job.salary_start|floatformat:"-2"|intcomma }} – ${{ job.salary_end|floatformat:"-2"|intcomma }}, {{ job.salary_frequency }} </li>

                        {% if job.hours_info != "nan" %}
                        <li class="list-group-item border-0"> <b>Hours</b> <br> 
                            {{ job.hours_info }} </li>
                        {% endif %}
                        {% if job.ft_pt_indicator %}
                            <li class="list-group-item border-0"> <b>Employment Type</b> <br>
                                {% if job.ft_pt_indicator == "F" %}
                                    Full Time
                                {% else  %}
                                    Part Time
                                {% endif %}</li>
                        {% endif %}
                        <li class="list-group-item border-0 small text-black-50"> JOB ID #{{ job.id }} </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}
