{% extends "uplyft/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!--
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
-->

<style>
body{
    background-attachment: fixed !important;
}
</style>

<div class="col-md-10 mx-auto mb-5">
  <form method="get">
    <div class="card">
      <div class="card-header"><b>Search for Jobs</b> </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.business_title.label_tag }}
            {% render_field filter.form.business_title class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.work_location.label_tag }}
            {% render_field filter.form.work_location class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.agency.label_tag }}
            {% render_field filter.form.agency class="form-control" %}
          </div>
        </div>


        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.posting_date.label_tag }}
          {% render_field filter.form.posting_date class="form-control" %}
          </div>
        </div>


        <button type="submit" class="btn btn-primary">
          Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="col-md-10 mx-auto">
  <table id="example" class="table table-bordered table-hover"  style="background-color: #fff;">
      <thead>
        <tr>
          <th scope="col"> Job Title </th>
          <th scope="col"> Location </th>
          <th scope="col"> Agency </th>
          <th scope="col"> Posted </th>
        </tr>
      </thead>
      <tbody>
        {% for job in filter.qs %}
          <tr>
            <td>{{ job.business_title }}</td>
            <td>{{ job.work_location }}</td>
            <td>{{ job.agency }}</td>
            <td>{{ job.posting_date }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% block javascript %}
<script type="text/javascript" src="{% static 'jobs/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jobs/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jobs/js/sort-table.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'jobs/js/sortable.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'jobs/js/sort_table.js' %}"></script>-->
{% endblock %}

{% endblock %}