<h1>{{ job.business_title }}</h1>

<ul>
    <li>#{{ job.job_id }}</li>
    <li>category: {{ job.job_category }}</li>
    <li>civil service title: {{ job.civil_service_title }}</li>
    <li>agency: {{ job.agency }}</li>
    <li>divsion: {{ job.division }}</li>
    <li>location: {{ job.work_location }}</li>
    <li>posting type: {{ job.posting_type }}</li>
    <li>posting date: {{ job.posting_date }}</li>
    <li>description: {{ job.job_description }}</li>
    <li>minimum qualification: {{ job.min_qualifications }}</li>
    <li>preferred skills: {{ job.preferred_skills }}</li>
    <li>more info: {{ job.additional_info }}</li>
    <li>residency requirement: {{ job.residency_requirement }}</li>
    <li>: {{ job. }}</li>

</ul>
