{% extends "uplyft/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
body{
    background-attachment: fixed !important;
}
</style>

<div class="col-lg-8 mx-auto text-center">
    <h1 class="text-white mb-4">Job Listings</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
        <form class="form-inline d-flex" method="GET" action="">
            {% csrf_token %} <!--token to protect against Cross Site Request Forgeries (https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#std:templatetag-csrf_token)-->
            {{ form|crispy }}
            <input type="text" name="q" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Search jobs"/>
            <button type="submit" class="btn btn-primary mx-auto">Search </button>
        </form>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 mt-3 center mx-auto">
            {% for job in jobs %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ job.business_title }}</h5>
                    <p class="card-text text-muted h6">{{ job.agency }} | {{ job.posting_date}} </p>
                    <hr class="h-bar">
                    <p class="card-text"><small>{{job.job_description|truncatechars:325 }}</small></p>
                    <p class="card-text"> <i class="fas fa-map-marked-alt text-primary mb-2"></i> {{job.work_location}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div id="wrapper" style="text-align:center">
 <div id="container" style="display:inline-block;text-align:left">
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-primary" href="?page=1"> First </a>
        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-light" href="?page={{num}}"> {{ num }} </a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-primary" href="?page={{num}}"> {{ num }} </a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-primary" href="?page={{page_obj.next_page_number}}"> Next </a>
        <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
    {% endif %}
{% endif %}
 </div>
</div>
{% endblock %}