{% extends "uplyft/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "jobs/css/jobs.css" %}">

<style>
body{
    background-attachment: fixed !important;
}
</style>

<div class="container card py-4">
    <h1 class="turquoise-dark mb-4" style="text-align: center;">Job Listings</h1>

    <div class="">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <form method="GET" action="{% url 'jobs:jobs' %}">
                <div class="row">
                    <div>
                        {{ form.business_title.label_tag }}
                        {% render_field form.business_title class="item" %}
                    </div>
                </div>
                <div class="row">
                    <div>
                    {{ form.job_description.label_tag }}
                    {% render_field form.job_description class="item" %}
                    </div>
                </div>
                <div class="row">
                    <div>
                    {{ form.work_location.label_tag }}
                    {% render_field form.work_location class="item" %}
                    </div>
                </div>

                <div class="row">
                    {{ form.department.label_tag }}
                    {% render_field form.department class="item" %}
                </div>

                <div class="row">
                    {{ form.posting_date.label_tag }}
                    {% render_field form.posting_date class="item" %}
                </div>

                <button type="submit" class="btn btn-primary mx-auto">Search</button>
            </form>
        </div>
    </div>

    <div class="">
        <div class="col-md-9 mt-3 center mx-auto">
            {% for job in jobs %}
            <a href="{% url 'jobs:job_detail' job.id %}">
                <div class="card mt-3">
                    <div class="card-body">
                        <h6 class="card-title"><b>{{ job.business_title }}</b></h6>
                        <div class="text-muted" style="display: flex; justify-content: space-between;">
                            <div>
                                    <div>{{ job.division }}</div>
                                    <div> {{ job.department }} </div>
                                    <div>{{job.work_location}}</div>
                                    
                            </div>
                            <div style="text-align:right;">
                                {% if job.salary_frequency == "Annual" %}
                                <div> ${{ job.salary_start|floatformat:"0"|intcomma }} - {{ job.salary_end|floatformat:"0"|intcomma }} Annually</div>
                                {% else %}
                                <div > ${{ job.salary_start|floatformat:2 }} - {{ job.salary_end|floatformat:2 }} {{ job.salary_frequency }}</div>
                                {% endif %}
                                <div> {{ job.posting_date}} </div>
                                {% if user.is_candidate %}
                                {% if job.id in jobs_applied %}
                                <div class="">Applied <i class="fas fa-clipboard-check"></i></div>
                                {% else %}
                                <div class="text-primary"><i class=""></i> Apply now</div>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="mt-3 py-4" id="wrapper" style="text-align:center">
        <div id="container" style="display:inline-block;text-align:left">
            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?{% query_transform request page=1 %}"> First </a>
            <a class="btn btn-primary" href="?{% query_transform request page=page_obj.previous_page_number %}">
                Previous </a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-light" href="?{% query_transform request page=num %}"> {{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-primary" href="?{% query_transform request page=num %}"> {{ num }} </a>
            {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?{% query_transform request page=page_obj.next_page_number %}"> Next </a>
            <a class="btn btn-primary" href="?{% query_transform request page=page_obj.paginator.num_pages %}"> Last </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}